    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
    }

    html,
    body {
      font-size: 18px;
    }

    body {
      font-family: Arial, sans-serif;
      padding: 10px;
      margin: 0 auto;

    }

    .hero {
      position: relative;
      width: 100%;
      height: 70vh;
      overflow: hidden;
    }

    .hero video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .hero-content {
      width: 85%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      padding: 20px;
      background-color: rgba(2, 2, 2, 0.5);
      /* Fondo semitransparente */
    }

    .hero h1 {
      font-size: 3em;
      margin: 0;
    }

    .hero p {
      font-size: 1.5em;
    }

    #menu {
      background-image: url('https://img.freepik.com/vector-premium/fondo-marco-alimentos-bebidas-dibujado-mano_698782-4013.jpg?ga=GA1.1.174974085.1731074306&semt=ais_hybrid');
      /* Cambia esto por la ruta de tu imagen */
      background-size: cover;
      background-position: center;
      padding: 100px 0;
      text-align: center;
      color: white;
      /* max-width: 1020px; */
    }

    .menu-item {
      margin: 20px 0;
    }

    @media screen and (max-width:768px) {
      html,
      body {
        font-size: 16px;
      }
    }

    @media screen and (max-width:450px) {
      html,
      body {
        font-size: 14px;
      }

      #menu {
        background-image: none;
        padding: 50px 0;
      }
    }
  